<div class="homepageGrid">
<% @letters.each do |letter| %>
  <% letter = JSON.parse(letter.to_json, object_class: OpenStruct) %>
  <div class="templateContainer">
    <div class="templateName">
      <% if letter.subject.present? %>
        <%= letter.subject %>
      <% else %>
        Unnamed Letter
      <% end %>
    </div>
    <div class="templateImg">
      <%= link_to edit_letter_path(letter.id) do %>
        <%= image_tag('https://cdn-images.mailchimp.com/template_screenshots/1-2-1_column_updated.svg') %>
      <% end %>
    </div>
  </div>
<% end %>
</div>