<table>
  <thead>
    <th>ID</th>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to(campaign.id, edit_campaign_path(campaign)) %></td>
      </tr> 
    <% end %>
  </tbody>
</table>
  