.row {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  margin-top: 1rem;
}

.deleteRowButton {
  position: absolute !important;
  z-index: 10;
  color: #ca0505 !important;
}

.dragHandle {
  padding-right: 100%;
  cursor:move; 
  cursor:-webkit-grab; 
  cursor:-moz-grab; 
  cursor:grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}
